@charset "UTF-8";

.g-index {
	width: 390px;
	height: 370px;
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
}

.g-index>li {
	margin-top: 10px;
	width: 370px;
	list-style: none;
}

.mes {
	height: 20px;
	font-size: 14px;
}

.price {
	display: flex;
	height: 30px;
	margin-bottom: 10px;
	align-items: flex-end;
}

.price>em {
	flex: 1;
}